version: '3'

services:
  proxy:
    build: .
    restart: always
    ports:
      - 13372:80
    volumes:
      - ./proxy.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - internal
    depends_on:
      - bot
  bot:
    build:
      context: bot
      args:
        - BROWSER=
    restart: always
    environment:
      APPNAME: Admin
      APPURL: http://proxy/
      APPURLREGEX: ^http(|s)://.*$
      APPFLAG: CJ{MSEdg3_why_y0u're_so_dIfFer3nt?}
      APPLIMIT: 2
      APPLIMITTIME: 60
      USE_PROXY: 1
      DISPLAY: ${DISPLAY}
    networks:
      - internal
      # uncoment this if you need to run the bot in GUI mode
      # run this before running the docker container if you're use xauth `sudo xhost +local:docker`
      # volumes:
      # - /tmp/.X11-unix:/tmp/.X11-unix

networks:
  internal:
